h1 {  animation: color-change 5s infinite;
}
h2{  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: rgb(10, 255, 10);
  }
  50% {
    color: rgb(196, 248, 8);
  }
  75% {
    color: red;
  }
  100% {
    color: rgb(236, 84, 14);
  }}
@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: rgb(10, 255, 10);
  }
  50% {
    color: rgb(196, 248, 8);
  }
  75% {
    color: red;
  }
  100% {
    color: rgb(236, 84, 14);
  }}
body h1 {text-align: center;}
body {
  background-image: url("https://media.tenor.com/91LatDyq0AQAAAAM/vinicius13-viniboy.gif");
  text-align: center;
}
a {
  text-decoration: none;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }
  25% {
    color: rgb(10, 255, 10);
  }
  50% {
    color: rgb(196, 248, 8);
  }
  75% {
    color: red;
  }
  100% {
    color: rgb(236, 84, 14);
  }
}
iframe{
  text-align: center;
  margin: auto;
  display: block;
  border: 1px solid black;
    animation: my-animation 5s infinite;

    @keyframes my-animation { 
    0% {
      border-color: rgb(59, 38, 179);
    }
    50% {
      border-color: rgb(22, 157, 235);
    }
    iframe{
      text-align: center;
      margin: auto;
      display: block;
      border: 1px solid black;
        animation: my-animation 5s infinite;
      }
    }
    iframe {
      border-width: 5px;
      border-style: solid;
    }
    li{font-size: 25px;}
    a{font-size: 25px;}

iframe {
  border-width: 5px;
  border-style: solid;
}
}
.container-quadro {
  background-color: rgb(65, 59, 59);
  width: 1000px;
  text-align: center;
  margin: auto;
  display: block;
  opacity: 0.98;
}
li{font-size: 27px;
  color:rgb(255, 0, 0);
text-align: left; 
}
a{font-size: 25px;
.botao{
    border: solid 1px #ffffff;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color:rgb(65, 59, 59);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
    width: 24.8%;
    height: 70px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(255, 255, 255);
    
    
    
}
.botao:hover{
    background-color: #ff0800;
    color: rgb(0, 0, 0);
    transform: scale(1.2)
}}